:host
{
  --montSerrat : "Montserrat", sans-serif;
  --inter      : "Inter", sans-serif;
  --jersey     : "Jersey 10", sans-serif;

}

.topbar
{
  position         : fixed;
  top              : 0;
  left             : 0;
  z-index          : 1000;
  width            : 100%;
  background-image : linear-gradient(to left, #6b009e, #3D005AFF, #170a55);
  backdrop-filter  : blur(10px);
  border-bottom    : 1px solid #eee;
  box-shadow       : 0 4px 6px -1px rgba(0, 0, 0, 0.1);

  .nav-content
  {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    max-width       : 470px;
    margin          : 0 auto;
    padding         : 1rem; // Um padding interno para o conteúdo não colar no vidro
  }
}

.brand
{
  display     : flex;
  align-items : center;
  gap         : 12px;

  .logo-img
  {
    width         : 2.5rem;
    height        : 2.5rem;
    object-fit    : contain;
    border-radius : 0.2rem;
  }

  .info
  {
    .title
    {
      margin                 : 0;
      font-family            : var(--inter);
      font-size              : 1.1rem; // Um tiquinho menor costuma parecer mais elegante
      font-weight            : 600; // Semi-bold é o padrão de luxo da Apple
      letter-spacing         : -0.022em; // No Inter, um valor um pouco mais agressivo (0.022) aproxima mais da SF em tamanhos menores
      line-height            : 1.2; // Garante que o texto não "flutue" demais
      color                  : #fff; // Mantendo seu branco
      -webkit-font-smoothing : antialiased; // ESSENCIAL para parecer fonte de sistema
    }

    .status
    {
      font        : var(--inter);
      font-weight : 400;
      font-size   : 0.85rem;
      color       : rgba(190, 190, 190, 0.8);
    }
  }
}

.actions
{
  display     : flex;
  align-items : center;
  gap         : 1rem;
}

.menu-btn
{
  background    : none;
  cursor        : pointer;
  font-size     : 1rem;
  border        : none;
  border-radius : 8px;
  transition    : background 0.2s;
  margin-bottom : 0.5rem;

  &:hover
  {
    background : transparent;
  }
}

.hamburger-icon
{
  color : #fff;
}

// Barra de progresso sutil no topo
.progress-container
{
  position   : absolute;
  bottom     : 0;
  left       : 0;
  width      : 100%;
  height     : 0.3rem;
  background : rgba(233, 233, 233, 0.27);

  .progress-bar
  {
    height     : 100%;
    background : linear-gradient(90deg, #009976, #3dc09c, #7df7d3);
    transition : width 0.4s ease-out;
  }
}

@media screen and (max-width : 481px)
{
  .topbar
  {
    .nav-content
    {
      max-width : 85%;
    }
  }
}
