<header class="topbar">
  <div class="nav-content">
    <div class="brand">
      <img src="logoWC.jpg" alt="Logo Álbum" class="logo-img">
      <div class="info">
        <h1 class="title">{{ service.fileName }}</h1>
        <span class="status">{{ service.totalObtained() }} / 670 coletadas</span>
      </div>
    </div>

    <div class="actions">
      <button type="button" class="btn-menu" (click)="service.toggleMenu()">
    <span class="material-symbols-outlined hamburgerIcon"
          draggable="false"
          style="pointer-events: none;">
      menu
    </span>
      </button>
    </div>
  </div>

  <app-menu-modal></app-menu-modal>

  <div class="progress-container">
    <div class="progress-bar" [style.width.%]="(service.totalObtained() / 670) * 100"></div>
  </div>
</header>
