:host
{
  grid-column : span 5; /* Garante que o componente Angular ocupe a linha toda */
  margin-top  : 1rem;
  --inter     : "Inter", sans-serif;
  --roboto    : "Roboto", sans-serif;
  font-weight : 600;
}

.containerInputSearch input
{
  width          : 100%;
  padding        : 0.8rem 2.5rem;
  border-radius  : 0.5rem;
  border         : 1px solid #ccc;
  box-sizing     : border-box;
  font-size      : 1rem;
  color          : #444444;
  text-transform : capitalize;
  font-family    : "Inter", sans-serif;
  font-weight    : 700;
  transition     : filter 0.4s ease, transform 0.4s ease, opacity 0.4s ease;

  // Estilo quando o menu está aberto
  &.menu-is-open
  {
    filter         : blur(8px); // Desfoca o card
    opacity        : 0.6; // Deixa um pouco mais transparente
    pointer-events : none; // Impede cliques nas figurinhas com menu aberto
    transform      : scale(0.95); // Dá um efeito de "recuo" para o fundo
  }

  &:focus
  {
    outline : 1px solid rgb(91, 91, 233);
  }
}

.mag
{
  position    : absolute;
  margin-top  : 0.5rem;
  margin-left : 0.45rem;
  font-size   : 1.8rem;
  color       : #999999;
  font-weight : 500;
}

.checkboxNumber
{
  margin      : 0.5rem 0 1.5rem 0;
  font-size   : 0.75rem;
  color       : #4f4f4f;
  font-family : "Inter", sans-serif;

  input[type="checkbox"]
  {
    vertical-align : bottom;
  }
}





