.overlay
{
  position                : fixed;
  top                     : 0;
  left                    : 0;
  width                   : 100vw;
  height                  : 100vh;
  z-index                 : 1000;
  background              : rgba(0, 0, 0, 0.44); // Overlay escuro suave
  backdrop-filter         : blur(4px); // O efeito de vidro
  -webkit-backdrop-filter : blur(15px);

  // Escondido por padrão
  display                 : flex;
  align-items             : flex-end; // No mobile, modais Apple costumam vir de baixo
  justify-content         : center;
  opacity                 : 0;
  visibility              : hidden;
  transition              : all 0.4s ease-in-out;

  &.active
  {
    opacity    : 1;
    visibility : visible;

    .apple-modal
    {
      transform : translateY(0);
    }
  }
}

.apple-modal
{
  background     : rgba(255, 255, 255, 0.73);
  width          : 85%;
  max-width      : 500px;
  margin-bottom  : 20px; // Espaço da borda inferior
  border-radius  : 1rem; // Cantos bem arredondados
  box-shadow     : 0 10px 40px rgba(0, 0, 0, 0.2);
  transform      : translateY(100%); // Começa fora da tela (embaixo)
  transition     : transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  padding-bottom : 20px;
}

.modal-header
{
  display         : flex;
  justify-content : flex-end;
  padding         : 10px;

  .close-btn
  {
    background      : #e5e5ea;
    border          : none;
    border-radius   : 50%;
    width           : 30px;
    height          : 30px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    cursor          : pointer;

    span
    {
      font-size : 18px;
      color     : #8e8e93;
    }
  }
}

.menu-items
{
  padding        : 0 20px;
  display        : flex;
  flex-direction : column;
  gap            : 10px;
  cursor         : pointer;

  .menu-item
  {
    display         : flex;
    align-items     : center;
    gap             : 15px;
    padding         : 15px;
    border          : none;
    background      : transparent;
    font-family     : "Inter", sans-serif;
    font-size       : 17px;
    font-weight     : 500;
    width           : 100%;
    text-align      : left;
    border-radius   : 12px;
    display         : flex;
    justify-content : space-between;
    padding         : 0 20px;

    &:active
    {
      background : rgba(0, 0, 0, 0.05);
    }

    .material-symbols-outlined
    {
      color     : #303030;
      font-size : 1.8rem;
    }

    &.danger .material-symbols-outlined, &.danger
    {
      color : #ff3b30;
    }
  }
}

.separator
{
  height     : 1px;
  background : rgba(0, 0, 0, 0.1);
  margin     : 5px 0;
}

.confirm-dialog
{
  display        : flex;
  flex-direction : column;
  align-items    : start;
  font-family    : "Inter", sans-serif;
  font-weight    : 400;
  padding    : 20px;

  h3
  {
    font-size       : 17px;
    font-weight     : 700;
    margin          : 0 16px 4px 16px;
    color           : #000;
  }

  p
  {
    font-size   : 13px;
    color       : #000;
    margin      : 0 16px 20px 16px;
    line-height : 1.3;
    text-align  : left;
  }

  .confirm-actions
  {
    display        : flex;
    //flex-direction : column; // Botões empilhados
    width          : 100%;
    justify-content: center;

    button
    {
      padding    : 12.5px 5px;
      border     : none;
      font-size  : 0.95rem;
      cursor     : pointer;
      border-top : 1px solid rgba(0, 0, 0, 0.2);
      width      : 100%;
      margin     : 5px 8px 0;

      &:active
      {
        background : rgba(51, 51, 51, 0.47); // Feedback de toque
      }
    }

    .btn-confirm
    {
      background-color : #313133;
      //color       : #ff3b30;
      color            : #ff4245;
      border-radius    : 2rem;
      font-weight      : 500;
      cursor: pointer;

      &:active
      {
        background-color : rgba(49, 49, 51, 0.89);// Feedback de toque
      }
    }

    .btn-cancel
    {
      background-color : #007aff;
      color            : #fff;
      border-radius    : 2rem;
      font-weight      : 600; // Cancelar é o destaque no iOS
      &:active
      {
        background-color : rgba(0, 122, 255, 0.83);// Feedback de toque
      }
    }
  }
}

@keyframes fadeIn
{
  from
  {
    opacity   : 0;
    transform : scale(1.05);
  }
  to
  {
    opacity   : 1;
    transform : scale(1);
  }
}
