<div (click)="closeMenu(); showMyStickers = false; showDuplicatesModal = false"
     [class.active]="service.menuOpen$ | async"
     class="overlay">

  <div (click)="stopProp($event)" class="apple-modal">
    <div class="modal-header">
      <!--            <button (click)="closeMenu(); showMyStickers = false; showDuplicatesModal = false" class="close-btn">-->
      <!--              <span class="material-symbols-outlined">close</span>-->
      <!--            </button>-->
    </div>

    <div class="modal-content">

      @if (showResetConfirm) {
        <div class="confirm-dialog">
          <h3>Limpar Álbum?</h3>
          <p>Todas as suas figurinhas marcadas serão removidas.</p>
          <div class="confirm-actions">
            <button (click)="confirmReset(); showMyStickers = false; showDuplicatesModal = false"
                    class="btn-confirm danger">Apagar Tudo
            </button>
            <button (click)="cancelReset(); showMyStickers = false; showDuplicatesModal = false" class="btn-cancel">
              Cancelar
            </button>
          </div>
        </div>
      } @else if (showMyStickers) {
        <div class="my-stickers-container">
          <h3>Minhas Figurinhas</h3>
          <div class="back-header">
            <button (click)="showMyStickers = false" class="back-btn">
              <span class="material-symbols-outlined"></span> Voltar
            </button>
            <button (click)="handleClose()" class="closeMenu">
              <span class="material-symbols-outlined"></span> Fechar
            </button>
          </div>
          <div class="scroll-area">
            @for (team of stickersByTeam(); track team.name) {
              <div class="team-group">
                <div class="team-info">
                  <strong>{{ team.name }}</strong>
                  <span>{{ team.count }} un.</span>
                </div>
                <div class="sticker-grid">
                  @for (s of team.stickers; track s.number) {
                    <div class="sticker-badge">{{ s.number }}</div>
                  }
                </div>
              </div>
            }
          </div>
        </div>
      } @else if (showDuplicatesModal) {
        <div class="modal-content">
          <div class="my-stickers-container">
            <h3>Figurinhas Repetidas</h3>
            <div class="back-header">
              <button (click)="showDuplicatesModal = false" class="back-btn">
                <span class="material-symbols-outlined"></span>Voltar
              </button>
              <button (click)="handleClose()" class="closeMenu">
                <span class="material-symbols-outlined"></span> Fechar
              </button>
            </div>

            <div class="scroll-area">
              @for (team of duplicatesByTeam(); track team.name) {
                <div class="team-group">
                  <div class="team-info">
                    <strong>{{ team.name }}</strong>
                    <span>{{ team.count }} un.</span>
                  </div>
                  <div class="sticker-grid">
                    @for (s of team.stickers; track s.number) {
                      <div class="sticker-badge">{{ s.number }}</div>
                    }
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      } @else {
        <nav class="menu-items">
          <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" accept=".json">

          <button class="menu-item" (click)="fileInput.click()">
            <span>Importar Álbum</span>
            <span class="material-symbols-outlined">mobile_arrow_down</span>
          </button>

          <div class="separator"></div>

          <button class="menu-item" (click)="exportAlbum()">
            <span>Exportar Álbum</span>
            <span class="material-symbols-outlined">file_export</span>
          </button>

          <div class="separator"></div>

          <button class="menu-item" [disabled]="service.totalObtained() === 0" (click)="onOffMyStickers()">
            <span [class.noHas]="service.totalObtained() === 0">Minhas Figurinhas</span>
            <span class="material-symbols-outlined" [class.noHas]="service.totalObtained() === 0">file_present</span>
          </button>

          <div class="separator"></div>

          <button class="menu-item" [disabled]="!service.hasDuplicates()" (click)="onOffDuplicates()">
            <span [class.noHas]="!service.hasDuplicates()">Figurinhas Repetidas</span>
            <span class="material-symbols-outlined" [class.noHas]="!service.hasDuplicates()">content_copy</span>
          </button>

          <div class="separator"></div>

          <button (click)="showResetConfirm = true" class="menu-item"
                  [class.danger]="service.totalObtained() > 0"
                  [disabled]="service.totalObtained() < 1"
          >
            <span [class.noHas]="service.totalObtained() === 0">Apagar Álbum</span>
            <span class="material-symbols-outlined" [class.noHas]="service.totalObtained() === 0">delete</span>
          </button>
        </nav>
      }
    </div>

  </div>
</div>
