:host
{
  --roboto : "Roboto", sans-serif;
}

.containerGrid
{
  margin-top            : 80px; /* Ajuste conforme a altura exata do seu header */
  max-width             : 520px;
  margin-left           : auto;
  margin-right          : auto;
  background            : #fafafa;
  padding               : 0.9rem 1rem 5rem 1rem;
  border-radius         : 0.8rem;
  height                : auto;
  box-sizing            : border-box;
  box-shadow            : 30px 40px 80px rgba(0, 0, 0, 0.25);
  display               : grid;
  grid-template-columns : repeat(5, 1fr);
  gap                   : 0.8rem;
}

.teams-nav
{
  display         : flex;
  grid-column     : span 5;
  overflow-x      : auto; /* Habilita o scroll horizontal */
  white-space     : nowrap; /* Impede que os botões quebrem linha */
  gap             : 12px;
  padding         : 15px 5px;
  margin-bottom   : 20px;
  scrollbar-width : none; /* Esconde a barra no Firefox */

  &::-webkit-scrollbar
  {
    display : none; /* Esconde a barra no Chrome/Safari */
  }
}

.team-button
{
  padding          : 0.65rem 2rem;
  border-radius    : 2rem;
  border           : 1px solid rgba(0, 0, 0, 0.06);
  color            : #565656;
  background-color : rgba(179, 179, 179, 0.35);
  box-shadow       : 0.5rem 0.5rem 0.5rem rgb(0, 0, 0, 0.2);
  cursor           : pointer;
  font-size        : 0.85rem;
  font-family      : var(--roboto);
  font-weight      : 600;
  flex             : 0 0 auto; /* Impede que o botão encolha */

  &.active
  {
    background-color : #007bff; // Cor de destaque
    color            : white;
    border-color     : #007bff;
  }

  &:hover:not(.active)
  {
    background-color : #e2e2e2;
    border           : 1px solid #007bff;
    transition       : all 0.4s;
  }
}

