<div class="containerGrid" [class.menu-is-open]="service.menuOpen$ | async">
  <app-search-input></app-search-input>

  <div class="teams-nav"
       #nav
       (mousedown)="startDragging($event, nav)"
       (mouseup)="stopDragging()"
       (mouseleave)="stopDragging()"
       (mousemove)="moveEvent($event, nav)"
       >
    @for (team of teams; track team.name; let i = $index) {
      <button
        class="team-button"
        [class.active]="i === selectedIndex"
        [id]="'team-' + i"
        (click)="selectTeam(i)">
        {{ team.name }}
      </button>
    }
  </div>

  @for (fig of getCards(); track fig.number) {
    <app-stiker-card [sticker]="fig"></app-stiker-card>
  }
</div>
